{
  "openapi" :"3.0.1",
  "info" :{
    "title" :"Servicio de Modelo Economico",
    "version" :"v0"
  },
  "servers" :[
    {
      "url" :"https://development-sd-aks.eastus.cloudapp.azure.com/budget/v1",
      "description" :"Generated server url"
    }
  ],
  "paths" :{
    "/save-projection" :{
      "post" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"saveProjection",
        "parameters" :[
          {
            "name" :"user",
            "in" :"header",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          }
        ],
        "requestBody" :{
          "content" :{
            "application/json" :{
              "schema" :{
                "$ref" :"#/components/schemas/ParameterHistorial"
              }
            }
          },
          "required" :true
        },
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"boolean"
                }
              }
            }
          }
        }
      }
    },
    "/projection" :{
      "post" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getProjection",
        "requestBody" :{
          "content" :{
            "application/json" :{
              "schema" :{
                "$ref" :"#/components/schemas/ParametersByProjection"
              }
            }
          },
          "required" :true
        },
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "$ref" :"#/components/schemas/PageProjectionDTO"
                }
              }
            }
          }
        }
      }
    },
    "/new-projection" :{
      "post" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getNewProjection",
        "requestBody" :{
          "content" :{
            "application/json" :{
              "schema" :{
                "$ref" :"#/components/schemas/ParametersByProjection"
              }
            }
          },
          "required" :true
        },
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "$ref" :"#/components/schemas/ProjectionSecondDTO"
                }
              }
            }
          }
        }
      }
    },
    "/download-projection" :{
      "post" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"downloadProjection",
        "parameters" :[
          {
            "name" :"user",
            "in" :"header",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          },
          {
            "name" :"type",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          },
          {
            "name" :"idBu",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          }
        ],
        "requestBody" :{
          "content" :{
            "application/json" :{
              "schema" :{
                "$ref" :"#/components/schemas/ParametersByProjection"
              }
            }
          },
          "required" :true
        },
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "$ref" :"#/components/schemas/ExcelReportDTO"
                }
              }
            }
          }
        }
      }
    },
    "/data-base" :{
      "post" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getDataBase",
        "requestBody" :{
          "content" :{
            "application/json" :{
              "schema" :{
                "$ref" :"#/components/schemas/DataRequest"
              }
            }
          },
          "required" :true
        },
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "$ref" :"#/components/schemas/DataBaseMainReponse"
                }
              }
            }
          }
        }
      }
    },
    "/save-money" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"saveMoney",
        "parameters" :[
          {
            "name" :"id",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          },
          {
            "name" :"po",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"boolean"
                }
              }
            }
          }
        }
      }
    },
    "/rosseta" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getRosseta",
        "parameters" :[
          {
            "name" :"id",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "$ref" :"#/components/schemas/RosetaDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/report" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getReport",
        "parameters" :[
          {
            "name" :"user",
            "in" :"header",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "$ref" :"#/components/schemas/ReportJob"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/report-bu" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getReportBu",
        "parameters" :[
          {
            "name" :"user",
            "in" :"header",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          },
          {
            "name" :"idBu",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "$ref" :"#/components/schemas/ReportJob"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/historial" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getHistoricalProjection",
        "parameters" :[
          {
            "name" :"user",
            "in" :"header",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "$ref" :"#/components/schemas/HistorialProjectionDTO"
                  }
                }
              }
            }
          }
        }
      },
      "delete" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"deleteHistorical",
        "parameters" :[
          {
            "name" :"id",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"boolean"
                }
              }
            }
          }
        }
      }
    },
    "/get-projection-historical" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getHistorialProjection",
        "parameters" :[
          {
            "name" :"id",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "$ref" :"#/components/schemas/ProjectionInformation"
                }
              }
            }
          }
        }
      }
    },
    "/get-position-baseline" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getPositionBaseline",
        "parameters" :[
          {
            "name" :"filter",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          },
          {
            "name" :"period",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          },
          {
            "name" :"bu",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          },
          {
            "name" :"idBu",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "$ref" :"#/components/schemas/PositionBaseline"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/download-report" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"downloadFile",
        "parameters" :[
          {
            "name" :"path",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "type" :"string",
                    "format" :"byte"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/download-historical" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"downloadProjectionHistorical",
        "parameters" :[
          {
            "name" :"id",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "type" :"string",
                    "format" :"byte"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/convent-arg" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getConveniosArg",
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "$ref" :"#/components/schemas/ConventArgDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/componentByCountry" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getComponentBy",
        "parameters" :[
          {
            "name" :"bu",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "$ref" :"#/components/schemas/Config"
                }
              }
            }
          }
        }
      }
    },
    "/componentByCountryV2" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getComponentByV2",
        "parameters" :[
          {
            "name" :"bu",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "$ref" :"#/components/schemas/Config"
                }
              }
            }
          }
        }
      }
    },
    "/bu" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"accessBu",
        "parameters" :[
          {
            "name" :"user",
            "in" :"header",
            "required" :true,
            "schema" :{
              "type" :"string"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "$ref" :"#/components/schemas/Bu"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account" :{
      "get" :{
        "tags" :[
          "projection-controller"
        ],
        "operationId" :"getAccount",
        "parameters" :[
          {
            "name" :"id",
            "in" :"query",
            "required" :true,
            "schema" :{
              "type" :"integer",
              "format" :"int32"
            }
          }
        ],
        "responses" :{
          "200" :{
            "description" :"OK",
            "content" :{
              "*/*" :{
                "schema" :{
                  "type" :"array",
                  "items" :{
                    "$ref" :"#/components/schemas/AccountProjection"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" :{
    "schemas" :{
      "BaseExternResponse" :{
        "type" :"object",
        "properties" :{
          "headers" :{
            "type" :"array",
            "items" :{
              "type" :"string"
            }
          },
          "data" :{
            "type" :"array",
            "items" :{
              "type" :"object",
              "additionalProperties" :{
                "type" :"object"
              }
            }
          }
        }
      },
      "Convenio" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "convenioName" :{
            "type" :"string"
          },
          "retiroPercentage" :{
            "type" :"number",
            "format" :"double"
          },
          "imssPercentage" :{
            "type" :"number",
            "format" :"double"
          },
          "infonavitPercentage" :{
            "type" :"number",
            "format" :"double"
          }
        }
      },
      "ConvenioBono" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "convenioNivel" :{
            "type" :"string"
          },
          "bonoPercentage" :{
            "type" :"number",
            "format" :"double"
          }
        }
      },
      "ConventArgDTO" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "convenio" :{
            "type" :"string"
          },
          "areaPersonal" :{
            "type" :"string"
          }
        }
      },
      "DisabledPoDTO" :{
        "type" :"object",
        "properties" :{
          "po" :{
            "type" :"string"
          },
          "idssff" :{
            "type" :"string"
          },
          "from" :{
            "type" :"string"
          },
          "to" :{
            "type" :"string"
          }
        }
      },
      "ParameterDTO" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "name" :{
            "type" :"string"
          },
          "description" :{
            "type" :"string"
          },
          "typeValor" :{
            "type" :"integer",
            "format" :"int32"
          }
        }
      },
      "ParameterHistorial" :{
        "type" :"object",
        "properties" :{
          "bu" :{
            "type" :"string"
          },
          "name" :{
            "type" :"string"
          },
          "period" :{
            "type" :"string"
          },
          "range" :{
            "type" :"integer",
            "format" :"int32"
          },
          "nominaFrom" :{
            "type" :"string"
          },
          "nominaTo" :{
            "type" :"string"
          },
          "disabledPo" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/DisabledPoDTO"
            }
          },
          "parameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParametersDTO"
            }
          },
          "isTop" :{
            "type" :"boolean"
          },
          "idBu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "baseExtern" :{
            "$ref" :"#/components/schemas/BaseExternResponse"
          },
          "bc" :{
            "$ref" :"#/components/schemas/BaseExternResponse"
          },
          "temporalParameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/RangeBuDTO"
            }
          },
          "convenio" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/Convenio"
            }
          },
          "convenioBono" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ConvenioBono"
            }
          }
        }
      },
      "ParametersDTO" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "description" :{
            "type" :"string"
          },
          "vparameter" :{
            "type" :"string"
          },
          "allPeriod" :{
            "type" :"boolean"
          },
          "inPeriod" :{
            "type" :"boolean"
          },
          "restringed" :{
            "type" :"boolean"
          },
          "isRetroactive" :{
            "type" :"boolean"
          },
          "parameter" :{
            "$ref" :"#/components/schemas/ParameterDTO"
          },
          "value" :{
            "type" :"number",
            "format" :"double"
          },
          "range" :{
            "type" :"string"
          },
          "type" :{
            "type" :"integer",
            "format" :"int32"
          },
          "period" :{
            "type" :"string"
          },
          "periodRetroactive" :{
            "type" :"string"
          },
          "order" :{
            "type" :"string"
          },
          "conventArg" :{
            "$ref" :"#/components/schemas/ConventArgDTO"
          },
          "vname" :{
            "type" :"string"
          },
          "vrange" :{
            "type" :"boolean"
          }
        }
      },
      "RangeBuDTO" :{
        "type" :"object",
        "properties" :{
          "name" :{
            "type" :"string"
          },
          "idBu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "rangeBuDetails" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/RangeBuDetailDTO"
            }
          }
        }
      },
      "RangeBuDetailDTO" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "range" :{
            "type" :"string"
          },
          "idPivot" :{
            "type" :"integer",
            "format" :"int32"
          },
          "value" :{
            "type" :"number",
            "format" :"double"
          }
        }
      },
      "ParameterDefault" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "bu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "value" :{
            "type" :"number",
            "format" :"double"
          },
          "vparameter" :{
            "type" :"integer",
            "format" :"int32"
          }
        }
      },
      "ParametersByProjection" :{
        "required" :[
          "bu",
          "idBu",
          "nominaFrom",
          "nominaTo",
          "period",
          "range"
        ],
        "type" :"object",
        "properties" :{
          "bu" :{
            "type" :"string"
          },
          "idBu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "period" :{
            "type" :"string"
          },
          "range" :{
            "minimum" :1,
            "type" :"integer",
            "format" :"int32"
          },
          "parameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParametersDTO"
            }
          },
          "paymentComponent" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/PaymentComponentType"
            }
          },
          "temporalParameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/RangeBuDTO"
            }
          },
          "convenios" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/Convenio"
            }
          },
          "convenioBonos" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ConvenioBono"
            }
          },
          "defaultParameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParameterDefault"
            }
          },
          "nominaFrom" :{
            "type" :"string"
          },
          "nominaTo" :{
            "type" :"string"
          },
          "baseExtern" :{
            "$ref" :"#/components/schemas/BaseExternResponse"
          },
          "bc" :{
            "$ref" :"#/components/schemas/BaseExternResponse"
          },
          "current" :{
            "type" :"string"
          },
          "disabledPo" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/PositionBaselineDTO"
            }
          },
          "viewPo" :{
            "type" :"boolean"
          }
        }
      },
      "PaymentComponentType" :{
        "type" :"object",
        "properties" :{
          "component" :{
            "type" :"string"
          },
          "name" :{
            "type" :"string"
          },
          "type" :{
            "type" :"integer",
            "format" :"int32"
          }
        }
      },
      "PositionBaselineDTO" :{
        "type" :"object",
        "properties" :{
          "position" :{
            "type" :"string"
          },
          "idssff" :{
            "type" :"string"
          },
          "from" :{
            "type" :"string"
          },
          "to" :{
            "type" :"string"
          }
        }
      },
      "ComponentAmount" :{
        "type" :"object",
        "properties" :{
          "component" :{
            "type" :"string"
          },
          "amount" :{
            "type" :"number"
          }
        }
      },
      "ComponentProjection" :{
        "type" :"object",
        "properties" :{
          "name" :{
            "type" :"string"
          },
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "type" :{
            "type" :"integer",
            "format" :"int32"
          },
          "component" :{
            "type" :"string"
          },
          "iscomponent" :{
            "type" :"boolean"
          },
          "isAdditional" :{
            "type" :"boolean"
          },
          "show" :{
            "type" :"boolean"
          },
          "isBase" :{
            "type" :"boolean"
          },
          "tvalor" :{
            "type" :"integer",
            "format" :"int32"
          }
        }
      },
      "MonthProjection" :{
        "type" :"object",
        "properties" :{
          "month" :{
            "type" :"string"
          },
          "amount" :{
            "type" :"number"
          }
        }
      },
      "PageProjectionDTO" :{
        "type" :"object",
        "properties" :{
          "pageNumber" :{
            "type" :"integer",
            "format" :"int32"
          },
          "totalPages" :{
            "type" :"integer",
            "format" :"int32"
          },
          "totalResults" :{
            "type" :"integer",
            "format" :"int32"
          },
          "items" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ProjectionDTO"
            }
          },
          "resume" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ComponentAmount"
            }
          },
          "components" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ComponentProjection"
            }
          },
          "disabledPo" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/DisabledPoDTO"
            }
          },
          "parameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParametersDTO"
            }
          },
          "teuro" :{
            "type" :"number",
            "format" :"double"
          }
        }
      },
      "PaymentComponentDTO" :{
        "type" :"object",
        "properties" :{
          "paymentComponent" :{
            "type" :"string"
          },
          "type" :{
            "type" :"integer",
            "format" :"int32"
          },
          "amount" :{
            "type" :"number"
          },
          "amountString" :{
            "type" :"string"
          },
          "projections" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/MonthProjection"
            }
          },
          "show" :{
            "type" :"boolean"
          },
          "name" :{
            "type" :"string"
          },
          "salaryType" :{
            "type" :"string"
          }
        }
      },
      "ProjectionDTO" :{
        "type" :"object",
        "properties" :{
          "idssff" :{
            "type" :"string"
          },
          "po" :{
            "type" :"string"
          },
          "poName" :{
            "type" :"string"
          },
          "components" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/PaymentComponentDTO"
            }
          },
          "classEmployee" :{
            "type" :"string"
          },
          "areaFuncional" :{
            "type" :"string"
          },
          "division" :{
            "type" :"string"
          },
          "convent" :{
            "type" :"string"
          },
          "level" :{
            "type" :"string"
          },
          "categoryLocal" :{
            "type" :"string"
          },
          "estadoVacante" :{
            "type" :"string"
          },
          "fnac" :{
            "type" :"string",
            "format" :"date"
          },
          "fcontra" :{
            "type" :"string",
            "format" :"date"
          },
          "ccostos" :{
            "type" :"string"
          }
        }
      },
      "ProjectionSecondDTO" :{
        "type" :"object",
        "properties" :{
          "resumeComponent" :{
            "$ref" :"#/components/schemas/ResumeSpecDTO"
          },
          "resumeAccount" :{
            "$ref" :"#/components/schemas/ResumeSpecDTO"
          },
          "monthProjections" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/MonthProjection"
            }
          },
          "yearProjections" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/MonthProjection"
            }
          },
          "realesMonth" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ResumenComponentDTO"
            }
          },
          "realesYear" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ResumenComponentDTO"
            }
          },
          "resumeRealesYear" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/MonthProjection"
            }
          },
          "resumeRealesMonth" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/MonthProjection"
            }
          },
          "viewPosition" :{
            "$ref" :"#/components/schemas/ViewPosition"
          },
          "rosseta" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/RosetaDTO"
            }
          },
          "tcambio" :{
            "type" :"number"
          }
        }
      },
      "ResumeSpecDTO" :{
        "type" :"object",
        "properties" :{
          "resumeComponentMonth" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ResumenComponentDTO"
            }
          },
          "resumeComponentYear" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ResumenComponentDTO"
            }
          }
        }
      },
      "ResumenComponentDTO" :{
        "type" :"object",
        "properties" :{
          "component" :{
            "type" :"string"
          },
          "code" :{
            "type" :"string"
          },
          "account" :{
            "type" :"string"
          },
          "projections" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/MonthProjection"
            }
          }
        }
      },
      "RosetaDTO" :{
        "type" :"object",
        "properties" :{
          "code" :{
            "type" :"string"
          },
          "name" :{
            "type" :"string"
          },
          "payment" :{
            "type" :"array",
            "items" :{
              "type" :"string"
            }
          },
          "projections" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/MonthProjection"
            }
          },
          "open" :{
            "type" :"boolean"
          }
        }
      },
      "ViewPosition" :{
        "type" :"object",
        "properties" :{
          "positions" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ProjectionDTO"
            }
          },
          "count" :{
            "type" :"integer",
            "format" :"int32"
          }
        }
      },
      "ExcelReportDTO" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "code" :{
            "type" :"string"
          },
          "status" :{
            "type" :"string"
          },
          "url" :{
            "type" :"string"
          }
        }
      },
      "DataRequest" :{
        "type" :"object",
        "properties" :{
          "po" :{
            "type" :"string"
          },
          "idBu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "bu" :{
            "type" :"string"
          },
          "period" :{
            "type" :"string"
          },
          "nominaFrom" :{
            "type" :"string"
          },
          "nominaTo" :{
            "type" :"string"
          },
          "periodComparing" :{
            "type" :"string"
          },
          "nominaFromComparing" :{
            "type" :"string"
          },
          "nominaToComparing" :{
            "type" :"string"
          },
          "isComparing" :{
            "type" :"boolean"
          }
        }
      },
      "CodeNomina" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "idBu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "codeNomina" :{
            "type" :"string"
          },
          "name" :{
            "type" :"string"
          }
        }
      },
      "DataBaseMainReponse" :{
        "type" :"object",
        "properties" :{
          "data" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/DataBaseResponse"
            }
          },
          "components" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ComponentProjection"
            }
          },
          "nominas" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/CodeNomina"
            }
          },
          "comparing" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/DataBaseResponse"
            }
          }
        }
      },
      "DataBaseResponse" :{
        "type" :"object",
        "properties" :{
          "po" :{
            "type" :"string"
          },
          "idssff" :{
            "type" :"string"
          },
          "poName" :{
            "type" :"string"
          },
          "typeEmployee" :{
            "type" :"string"
          },
          "birthDate" :{
            "type" :"string"
          },
          "hiringDate" :{
            "type" :"string"
          },
          "convent" :{
            "type" :"string"
          },
          "level" :{
            "type" :"string"
          },
          "components" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ComponentAmount"
            }
          },
          "categoryLocal" :{
            "type" :"string"
          },
          "estadoVacante" :{
            "type" :"string"
          }
        }
      },
      "ParameterBu" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "idBu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "idParameter" :{
            "type" :"integer",
            "format" :"int32"
          },
          "reportJob" :{
            "$ref" :"#/components/schemas/ReportJob"
          }
        }
      },
      "ReportJob" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "status" :{
            "type" :"string"
          },
          "errorMessage" :{
            "type" :"string"
          },
          "reportUrl" :{
            "type" :"string"
          },
          "idSsff" :{
            "type" :"string"
          },
          "monthBase" :{
            "type" :"string"
          },
          "nominaRange" :{
            "type" :"string"
          },
          "code" :{
            "type" :"string"
          },
          "idBu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "creationDate" :{
            "type" :"string",
            "format" :"date-time"
          },
          "parameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParameterBu"
            }
          },
          "typeReport" :{
            "type" :"integer",
            "format" :"int32"
          }
        }
      },
      "ConvenioBonoDTO" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "convenioNivel" :{
            "type" :"string"
          },
          "bonoPercentage" :{
            "type" :"number",
            "format" :"double"
          }
        }
      },
      "ConvenioDTO" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "convenioName" :{
            "type" :"string"
          },
          "retiroPercentage" :{
            "type" :"number",
            "format" :"double"
          },
          "imssPercentage" :{
            "type" :"number",
            "format" :"double"
          },
          "infonavitPercentage" :{
            "type" :"number",
            "format" :"double"
          }
        }
      },
      "HistorialProjectionDTO" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "bu" :{
            "type" :"string"
          },
          "name" :{
            "type" :"string"
          },
          "createdAt" :{
            "type" :"string",
            "format" :"date-time"
          },
          "isTop" :{
            "type" :"boolean"
          },
          "idBu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "baseExtern" :{
            "$ref" :"#/components/schemas/BaseExternResponse"
          },
          "bc" :{
            "$ref" :"#/components/schemas/BaseExternResponse"
          },
          "temporalParameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/RangeBuDTO"
            }
          },
          "convenio" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ConvenioDTO"
            }
          },
          "convenioBono" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ConvenioBonoDTO"
            }
          },
          "vdate" :{
            "type" :"string",
            "format" :"date-time"
          },
          "vrange" :{
            "type" :"integer",
            "format" :"int32"
          },
          "vperiod" :{
            "type" :"string"
          }
        }
      },
      "ParameterProjectionBD" :{
        "type" :"object",
        "properties" :{
          "description" :{
            "type" :"string"
          },
          "name" :{
            "type" :"string"
          },
          "value" :{
            "type" :"number",
            "format" :"double"
          },
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "visretroactive" :{
            "type" :"boolean"
          },
          "vperiodretroactive" :{
            "type" :"string"
          },
          "idbu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "vbu" :{
            "type" :"string"
          },
          "tvalor" :{
            "type" :"integer",
            "format" :"int32"
          },
          "vrange" :{
            "type" :"string"
          },
          "vperiod" :{
            "type" :"string"
          },
          "vtype" :{
            "type" :"integer",
            "format" :"int32"
          },
          "hperiod" :{
            "type" :"string"
          },
          "hrange" :{
            "type" :"integer",
            "format" :"int32"
          },
          "nfrom" :{
            "type" :"string"
          },
          "nto" :{
            "type" :"string"
          }
        }
      },
      "ProjectionInformation" :{
        "type" :"object",
        "properties" :{
          "parameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParameterProjectionBD"
            }
          },
          "poDisableds" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/DisabledPoDTO"
            }
          },
          "baseExtern" :{
            "$ref" :"#/components/schemas/BaseExternResponse"
          },
          "bc" :{
            "$ref" :"#/components/schemas/BaseExternResponse"
          },
          "parametersTemporal" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParameterProjectionBD"
            }
          }
        }
      },
      "PositionBaseline" :{
        "type" :"object",
        "properties" :{
          "position" :{
            "type" :"string"
          },
          "from" :{
            "type" :"string"
          },
          "department" :{
            "type" :"string"
          },
          "idssff" :{
            "type" :"string"
          },
          "to" :{
            "type" :"string"
          },
          "vname" :{
            "type" :"string"
          }
        }
      },
      "BaseExtern" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "code" :{
            "type" :"string"
          },
          "name" :{
            "type" :"string"
          },
          "bu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "isInput" :{
            "type" :"boolean"
          }
        }
      },
      "ConceptoPresupuestal" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "conceptoPresupuestal" :{
            "type" :"string"
          },
          "gratificacion" :{
            "type" :"number"
          },
          "cts" :{
            "type" :"number"
          },
          "essalud" :{
            "type" :"number"
          },
          "bonifExtTemp" :{
            "type" :"number"
          }
        }
      },
      "Config" :{
        "type" :"object",
        "properties" :{
          "components" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ComponentProjection"
            }
          },
          "parameters" :{
            "type" :"array",
            "items" :{
              "type" :"object"
            }
          },
          "baseExtern" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/OperationResponse"
            }
          },
          "nominas" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/CodeNomina"
            }
          },
          "convenios" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/Convenio"
            }
          },
          "convenioBonos" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ConvenioBono"
            }
          },
          "nominaPaymentComponentRelations" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/NominaPaymentComponentLink"
            }
          },
          "employeeClassifications" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/EmployeeClassification"
            }
          },
          "seniorityAndQuinquenniums" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/SeniorityAndQuinquennium"
            }
          },
          "conceptoPresupuestals" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ConceptoPresupuestal"
            }
          },
          "validationRules" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ValidationRule"
            }
          },
          "parameterGroups" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParameterGroup"
            }
          },
          "conventArgs" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ConventArgDTO"
            }
          },
          "money" :{
            "type" :"string"
          },
          "icon" :{
            "type" :"string"
          },
          "current" :{
            "type" :"string"
          },
          "vtemporal" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/RangeBuDTO"
            }
          },
          "vdefault" :{
            "type" :"array",
            "items" :{
              "type" :"object"
            }
          },
          "vviewPo" :{
            "type" :"boolean"
          }
        }
      },
      "EmployeeClassification" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int64"
          },
          "category" :{
            "type" :"string"
          },
          "typeEmp" :{
            "type" :"string"
          },
          "valueAllowance" :{
            "type" :"number",
            "format" :"double"
          }
        }
      },
      "NominaPaymentComponentLink" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "nominaConcept" :{
            "$ref" :"#/components/schemas/CodeNomina"
          },
          "paymentComponent" :{
            "$ref" :"#/components/schemas/PaymentComponent"
          }
        }
      },
      "OperationResponse" :{
        "type" :"object",
        "properties" :{
          "code" :{
            "type" :"string"
          },
          "name" :{
            "type" :"string"
          },
          "bu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "isInput" :{
            "type" :"boolean"
          }
        }
      },
      "ParameterGroup" :{
        "type" :"object",
        "properties" :{
          "convenio" :{
            "type" :"string"
          },
          "parameters" :{
            "type" :"array",
            "items" :{
              "$ref" :"#/components/schemas/ParameterProjection"
            }
          }
        }
      },
      "ParameterProjection" :{
        "type" :"object",
        "properties" :{
          "description" :{
            "type" :"string"
          },
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "restringed" :{
            "type" :"string"
          },
          "vparameter" :{
            "type" :"string"
          },
          "convenio" :{
            "type" :"string"
          },
          "retroactive" :{
            "type" :"boolean"
          },
          "inperiod" :{
            "type" :"boolean"
          },
          "allperiod" :{
            "type" :"boolean"
          },
          "vname" :{
            "type" :"string"
          },
          "area" :{
            "type" :"string"
          },
          "tvalor" :{
            "type" :"integer",
            "format" :"int32"
          },
          "vrange" :{
            "type" :"boolean"
          },
          "typec" :{
            "type" :"integer",
            "format" :"int32"
          }
        }
      },
      "PaymentComponent" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "bu" :{
            "type" :"integer",
            "format" :"int32"
          },
          "paymentComponent" :{
            "type" :"string"
          },
          "typePaymentComponentEntity" :{
            "$ref" :"#/components/schemas/TypePaymentComponent"
          },
          "isComponent" :{
            "type" :"boolean"
          },
          "show" :{
            "type" :"boolean"
          },
          "isAdditional" :{
            "type" :"boolean"
          }
        }
      },
      "SeniorityAndQuinquennium" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "seniority" :{
            "type" :"integer",
            "format" :"int32"
          },
          "quinquennium" :{
            "type" :"number"
          }
        }
      },
      "TypePaymentComponent" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "paymentComponent" :{
            "type" :"string"
          },
          "typeValor" :{
            "$ref" :"#/components/schemas/TypeValor"
          }
        }
      },
      "TypeValor" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "name" :{
            "type" :"string"
          }
        }
      },
      "ValidationRule" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int64"
          },
          "fieldName" :{
            "type" :"string"
          },
          "dataType" :{
            "type" :"string"
          },
          "validationMessage" :{
            "type" :"string"
          },
          "errorLevel" :{
            "type" :"string"
          },
          "bu" :{
            "$ref" :"#/components/schemas/BaseExtern"
          },
          "required" :{
            "type" :"boolean"
          }
        }
      },
      "Bu" :{
        "type" :"object",
        "properties" :{
          "id" :{
            "type" :"integer",
            "format" :"int32"
          },
          "bu" :{
            "type" :"string"
          },
          "money" :{
            "type" :"string"
          },
          "icon" :{
            "type" :"string"
          },
          "flag" :{
            "type" :"string"
          },
          "current" :{
            "type" :"string"
          },
          "vviewPo" :{
            "type" :"boolean"
          }
        }
      },
      "AccountProjection" :{
        "type" :"object",
        "properties" :{
          "nameaccount" :{
            "type" :"string"
          },
          "vcomponent" :{
            "type" :"string"
          },
          "vname" :{
            "type" :"string"
          },
          "vshow" :{
            "type" :"integer",
            "format" :"int32"
          },
          "account" :{
            "type" :"string"
          }
        }
      }
    }
  }
}